<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.6.7/vuetify.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>

let url='https://immense-brushlands-57583.herokuapp.com/api/boletas/';
new Vue({
    el:"#app",
    vuetify: new Vuetify(),
    data(){

        return{
            boletas:[],
            dialog:false,
            operacion:'',
            boleta:{
                id:null,
                titulo:'',
                descripcion:'',
                valor:''
            }
        } 
    },
    created(){

        this.mostrar()
    },
    methods:{

        mostrar(){

            axios.get(url).then(response=>{

                this.boletas=response.data;

            })


        },
        crear(){
            
            let parametros = {
                titulo:this.boleta.titulo,
                descripcion:this.boleta.descripcion,
                valor:this.boleta.valor
            }
            axios.post(url,parametros).then(response=>{

                this.mostrar();


            })
            this.boleta.titulo='';
            this.boleta.descripcion='';
            this.boleta.valor='';

        },
        editar(){

            let parametros = {
                id:this.boleta.id,
                titulo:this.boleta.titulo,
                descripcion:this.boleta.descripcion,
                valor:this.boleta.valor
            }
            axios.put(url+this.boleta.id,paremtros)


        },
        borrar(id){

            Swal.fire({

                title:'Confirma que desea eliminar la boleta',
                confirmButtonText:'Confirmar',
                showCancelButton:true



            }).then((result)=>{

                if(result.isConfirmed){
                    axios.delete(url+id).then(response=>{

                        this.mostrar();

                    });
                    Swal.fire('Eliminado','','Success')
                }
                else if(result.isDenied){

                }

            });
        },guardar(){

            if(this.operacion=='crear'){

                this.crear()
            }
            if(this.operacion='editar'){
                this.editar()
            }
            this.dialog=false;
        },
        formNuevo(){

            this.dialog=true;
            this.operacion='crear';
            this.operacion.titulo='';
            this.operacion.descripcion='';
            this.operacion.valor='';
        },
        formEditar(id,titulo,descripcion,valor){
            this.boleta.id=id;
            this.titulo=titulo;
            this.descripcion=descripcion;
            this.valor=valor;
            this.dialog=true;
            this.operacion='editar';

        }


    }
});

// var app = new Vue({
// el: '#app',
// vuetify: new Vuetify(),
// data: {
// greeting: 'Welcome to your Vue.js app!',
// },
// methods: {
// }
// })
</script>



</body>
</html>